<div class="container-fluid mt-5 about-style" id="aboutid">
         <div class="row">
             <div class="col-md-10 col-12 mx-auto">
               <p class="text-center sub-heading">Your Personal blog</p>
                 <div class="row">
                  {{!-- center --}}
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                      <h1>write, customize, share you thoughts :)</h1>
                    </div>
                    
                  </div>
             </div>
         </div>
    </div>
